.bh-card-user-index{
  width: 100%;
  height: 76px;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: initial;
  padding-top: 7px;
}

.bh-card-user-index-info {
  display:flex;
  flex-direction: column;
  min-width: 90px;
  p {
    margin-bottom: 0px;
  }
}

.lang-pro {
  display: flex;
  align-items: center;
  min-width: 45px;
  font-size: 15px;
  margin-top: -3px;
}

.language-code {
  min-width: 22px;
}

.text-style {
  color: #c0c0c0;
}

.progress-bar {
  margin-left: 3px;
}